/* Importación de Fuentes de Google - Nunito / Open Sans */
@import url(http://fonts.googleapis.com/css?family=Nunito:300,700|Open+Sans);

/* Declarar fuentes para textos de mi Página */
h1, h2, h3, h4 {
	font-family: "Nunito", sans-serif;
	font-weight: 700;
}

h1, h2 {
	color: #fff;
}

h4 {
	font-weight: 300;
}

p {
	font-family: "Open Sans", sans-serif;
	line-height: 2.26;
	margin-bottom: 25px;
}

/* Estilos para Sección */
section h1, section article h2, section article p {
	color: #200;
}

/* Clase para Articles - Artículos de la Sección Principal */
article {
	color: #fff;
}

/* Clase Container - Contenedor Principal */
.container {
	background-color: #eee;
}

/* Clase nav - Fuente en Barras de Navegación */
.nav {
	font-family: "Nunito", sans-serif;
	font-weight: 700;
}

/* Clase para Aside - Aside Superior */
.aside-bg {
	background-color: #f55;
	/*height: 150px;*/
}

/* Clase para Section - Sección Principal */
.section-bg {
	background-color: #fa0;
	/*height: 200px;*/
}

/* Clase para Footer - Footer de Página */
.footer-mg {
	margin-top: 25px;
}
