/* Importación de Fuentes de Google - Nunito / Open Sans */
@import url(http://fonts.googleapis.com/css?family=Nunito:300,700|Open+Sans);

/* Imagen de Fondo en etiqueta body */
body {
    background: url("../images/background.jpg") no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Declarar fuentes para textos de mi Página */
h1, h2, h3, h4 {
	font-family: "Nunito", sans-serif;
	font-weight: 700;
}

h1, h2 {
	color: #fff;
}

h4 {
	font-weight: 300;
}

p {
	font-family: "Open Sans", sans-serif;
	line-height: 2.26;
	margin-bottom: 25px;
}

/* Estilos para Sección */
section h1, section article h2, section article p {
	color: #200;
}

/* Clase para Articles - Artículos de la Sección Principal */
article {
	color: #fff;
}

/* Clase Container - Contenedor Principal */
.container {
	background-color: rgba(255,255,255,0.6);
}

/* Clase nav - Fuente en Barras de Navegación */
.nav {
	font-family: "Nunito", sans-serif;
	font-weight: 700;
}

.nav a {
	color: #fff;
}

.nav a:hover {
	color: #428bca;
}

/* Clase para Aside - Aside Superior */
.aside-bg {
	background-color: rgba(255,85,85,0.7);
}

/* Clase para Section - Sección Principal */
.section-bg {
	background-color: rgba(255,170,0,0.6);
}

/* Clase para Footer - Footer de Página */
.footer-mg {
	margin-top: 25px;
}
